:root{
    --gris-footer: #3c3c3c;
    --letras-color:#c6c6c6;
}

/*FOTEER*/
.footer{
    font-size: 1.05rem;
    border-radius: 2px;
    background-color: #3c3c3c;
    color: var(--letras-color);
}
.div1Footer{
    margin-top: 1%!important;     
}
.iconos{
    font-size: 30px;
}
.hr{
    margin: 0% 5% 0.5% 5%;
}

